In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as pp

In [2]:
np.random.seed(42)

In [3]:
X, y = fetch_openml("titanic", version=1, as_frame=True, return_X_y=True)
X.drop(['boat', 'body', 'home.dest'], axis=1, inplace=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify=y, test_size=0.2)

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
X_train.head(9).sort_index()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
25,1.0,"Birnbaum, Mr. Jakob",male,25.0,0.0,0.0,13905,26.0000,None,C
196,1.0,"Marechal, Mr. Pierre",male,NaN,0.0,0.0,11774,29.7000,C47,C
392,2.0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1.0,0.0,SC/PARIS 2167,27.7208,None,C
604,3.0,"Abelseth, Miss. Karen Marie",female,16.0,0.0,0.0,348125,7.6500,None,S
605,3.0,"Abelseth, Mr. Olaus Jorgensen",male,25.0,0.0,0.0,348122,7.6500,F G63,S
628,3.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,31.2750,None,S
999,3.0,"McCarthy, Miss. Catherine 'Katie'",female,NaN,0.0,0.0,383123,7.7500,None,Q
1165,3.0,"Saad, Mr. Khalil",male,25.0,0.0,0.0,2672,7.2250,None,C
1278,3.0,"Vendel, Mr. Olof Edvin",male,20.0,0.0,0.0,350416,7.8542,None,S

In [6]:
X_train.isnull().sum()

pclass        0
name          0
sex           0
age         209
sibsp         0
parch         0
ticket        0
fare          1
cabin       822
embarked      0
dtype: int64

In [7]:
X_train.cov()

C:\Users\Admin\AppData\Local\Temp\ipykernel_12828\2686870505.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_train.cov()

           pclass         age     sibsp      parch         fare
pclass   0.691795   -4.724047  0.036028  -0.002820   -23.512594
age     -4.724047  206.288195 -3.512146  -2.128722   113.837441
sibsp    0.036028   -3.512146  1.020545   0.334959     9.060703
parch   -0.002820   -2.128722  0.334959   0.743892    10.298036
fare   -23.512594  113.837441  9.060703  10.298036  2392.757409

In [8]:
X_train.isnull().sum() / len(X_train) * 100

pclass       0.000000
name         0.000000
sex          0.000000
age         19.961796
sibsp        0.000000
parch        0.000000
ticket       0.000000
fare         0.095511
cabin       78.510029
embarked     0.000000
dtype: float64

In [9]:
X_train.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
999,3.0,"McCarthy, Miss. Catherine 'Katie'",female,NaN,0.0,0.0,383123,7.7500,None,Q
392,2.0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1.0,0.0,SC/PARIS 2167,27.7208,None,C
628,3.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,31.2750,None,S
1165,3.0,"Saad, Mr. Khalil",male,25.0,0.0,0.0,2672,7.2250,None,C
604,3.0,"Abelseth, Miss. Karen Marie",female,16.0,0.0,0.0,348125,7.6500,None,S

In [10]:
X_train.drop(['cabin'],axis=1,inplace=True)

In [11]:
X_train.head()

,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked
999,3.0,"McCarthy, Miss. Catherine 'Katie'",female,NaN,0.0,0.0,383123,7.7500,Q
392,2.0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1.0,0.0,SC/PARIS 2167,27.7208,C
628,3.0,"Andersson, Miss. Sigrid Elisabeth",female,11.0,4.0,2.0,347082,31.2750,S
1165,3.0,"Saad, Mr. Khalil",male,25.0,0.0,0.0,2672,7.2250,C
604,3.0,"Abelseth, Miss. Karen Marie",female,16.0,0.0,0.0,348125,7.6500,S

In [12]:
X_train['family_size']

KeyError: 'family_size'

In [ ]:
X_train.sort_index()

In [ ]:
X_test.head().sort_index()

In [ ]:
X_trainTest

In [24]:
for dataset in [X_trainTest]:
    dataset['family_size'] = dataset['parch'] + dataset['sibsp']
    dataset.drop(['parch','sibsp'], axis=1, inplace=True)
    dataset['is_alone'] = 1
    dataset['is_alone'].loc[dataset['family_size'] > 1] = 0

NameError: name 'X_trainTest' is not defined

In [ ]:
X_trainTest

In [25]:
#Performing the above filtering operations on Original Dataset
for dataset in [X_train]:
    dataset['family_size'] = dataset['parch'] + dataset['sibsp']
    dataset.drop(['parch','sibsp'], axis=1,inplace=True)
    dataset['is_alone'] = 1
    dataset['is_alone'].loc[dataset['family_size'] > 1] = 0

C:\Users\Admin\AppData\Local\Temp\ipykernel_12828\3428541648.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['is_alone'].loc[dataset['family_size'] > 1] = 0

In [ ]:
X_train.head(5)

In [ ]:
X_trainTest['name'].str.split(',',expand=True)[1].str.split(".",expand=True)

In [30]:
for dataset in [X_trainTest]:
    dataset['title'] = dataset['name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]
    dataset.drop(['name'], axis=1,inplace=True)

NameError: name 'X_trainTest' is not defined

In [ ]:
X_trainTest

In [29]:
#Performing the above operations on original Dataset
for dataset in [X_train]:
    dataset['title'] = dataset['name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]
    dataset.drop(['name'], axis=1,inplace=True)

KeyError: 'name'

In [ ]:
X_train.head()

In [27]:
pd.crosstab(X_train['title'],X_train['sex'])

sex            female  male
title
 Capt               0     1
 Col                0     3
 Don                0     1
 Dona               1     0
 Dr                 0     6
 Major              0     1
 Master             0    51
 Miss             210     0
 Mlle               2     0
 Mr                 0   606
 Mrs              156     0
 Ms                 2     0
 Rev                0     6
 the Countess       1     0

In [ ]:
X_trainTest['title'].value_counts()

In [ ]:
X_trainTest.title.loc[X_trainTest.title == 'Miss']

In [32]:
#For titles which count less than 10
rare_titles=X_train['title'].value_counts() < 10

In [ ]:
rare_titles

In [33]:
#Combining titles : Mrs and Miss together to seek survival chances of given Gender:
for dataset in [X_train]:
    dataset.title.loc[dataset.title == "Miss"] = 'Mrs'
    dataset['title'] = dataset.title.apply(lambda x: 'rare' if rare_titles[x] else x)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12828\249189974.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.title.loc[dataset.title == "Miss"] = 'Mrs'

In [ ]:
#Above operation considered changing Miss values to Mrs
#Also considered changing values with < 10 count as 'rare'
X_train.head()

In [ ]:
#From Now on, we will Carry out Data imputation : to fill None/Null values.
X_train.dtypes

In [ ]:
X_trainTest.head()

In [ ]:
X_train.dtypes

In [ ]:
#Get average age of total passengers:
X_train['age'].mean()

In [ ]:
#Get average age of total passengers:
X_train['family_size'].mean()

In [ ]:
#Get number of Adults and Children
(X_train['age'] > 18).value_counts()

In [ ]:
X_train.drop(['cabin'],axis=1,inplace=True)

In [ ]:
y_train

In [ ]:
X_train

In [ ]:
pd.concat([X_test,y_test],axis=1)

In [ ]:
 pd.concat([X_test,y_test],axis=1)

In [ ]:
for dataset in [X_test,y_test]:
    dataset.X_test['survived'] = dataset.y_test['survived']

In [ ]:
X_test_sorted = X_test.sort_index()
y_test_sorted = y_test.sort_index()

In [ ]:
X_test_sorted

In [38]:
combined_TestX =  pd.concat([X_test,y_test],axis=1)

In [ ]:
#Passengers with who 
g_surv = pd.crosstab(combined_TestX['survived'],combined_TestX['sex'])

In [ ]:
g_surv.plot.bar()

In [ ]:
(pd.crosstab((combined_TestX['age'] <= 18), combined_TestX['survived'])).plot.bar()

In [ ]:
(X_train.groupby(['sex','pclass']).mean()).plot.bar()

In [ ]:
X_train['age'].isna().value_counts()

In [ ]:
num_cols=['age','fare']
num_transformer = Pipeline(steps=[
    ('imputer',KNNImputer(n_neighbors=5)),
    ('scaler',RobustScaler())
])

In [16]:
combined_TestX['age'].fillna(combined_TestX['age'].mean(), inplace = True)

In [17]:
combined_TestX['age'].isna().value_counts()

False    262
Name: age, dtype: int64

In [ ]:
def clf_performance(classifier, model):
    print(model)
    print('Best Score :' + str(classifier.best_score_))
    print('Best Parameters:' + str(classifier.best_params_))

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#random state =1 to control bootstrapping of samples
rf = RandomForestClassifier(random_state = 1)

In [ ]:
param_grid = {
    'n_estimators':[400,450,500,550], #number of trees in forest
    'criterion':['gini','entropy'],
    'bootstrap':[True],
    'max_depth':[15,20,25],
    'max_features':['auto','sqrt',10],
    'min_samples_leaf':[2,3],
    'min_samples_split':[2,3]
}

In [ ]:
clf_rf = GridSearchCV(rf,param_grid=param_grid, cv= 5, verbose = True, n_jobs= -1)

In [ ]:
best_clf_rf = clf_rf.fit(X_train,y_train)

In [ ]:
newX_train = X_train.copy()

In [ ]:
newX_train['sex'].replace(['female','male'],[0,1], inplace=True)

In [ ]:
combined_TestX.info()

In [ ]:
combined_TestX.drop(['survived'],axis=1, inplace=True)

In [39]:
combined_TestX['sex'].replace(['female','male'],[0,1], inplace=True)

In [40]:
combined_TestX['sex'] = combined_TestX['sex'].astype(int)

In [41]:
combined_TestX.drop(['cabin'],axis=1,inplace=True)

In [ ]:
for dataset in [combined_TestX]:
    dataset['fare'] = dataset['fare'].fillna(0)
    dataset['fare'] = dataset['fare'].astype(int)

In [42]:
combined_TestX

,pclass,name,sex,age,sibsp,parch,ticket,fare,embarked,survived
1028,3.0,"Moran, Miss. Bertha",0,NaN,1.0,0.0,371110,24.1500,Q,1
1121,3.0,"Peter, Master. Michael J",1,NaN,1.0,1.0,2668,22.3583,C,1
1155,3.0,"Rommetvedt, Mr. Knud Paust",1,NaN,0.0,0.0,312993,7.7750,S,0
1251,3.0,"Tomlin, Mr. Ernest Portage",1,30.5,0.0,0.0,364499,8.0500,S,0
721,3.0,"Coleff, Mr. Peju",1,36.0,0.0,0.0,349210,7.4958,S,0
...,...,...,...,...,...,...,...,...,...,...
952,3.0,"Larsson-Rondberg, Mr. Edvard A",1,22.0,0.0,0.0,347065,7.7750,S,0
969,3.0,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",0,30.0,1.0,0.0,349910,15.5500,S,0
125,1.0,"Fry, Mr. Richard",1,NaN,0.0,0.0,112058,0.0000,S,0
836,3.0,"Gustafsson, Mr. Alfred Ossian",1,20.0,0.0,0.0,7534,9.8458,S,0
203,1.0,"Meyer, Mr. Edgar Joseph",1,28.0,1.0,0.0,PC 17604,82.1708,C,0

In [ ]:
combined_TestX['name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]

In [44]:
for dataset in [combined_TestX]:
    dataset['title'] = dataset['name'].str.split(',',expand=True)[1].str.split('.',expand=True)[0]
    dataset.drop(['name'], axis=1,inplace=True)

In [45]:
rare_titles=combined_TestX['title'].value_counts() < 10

In [46]:
for dataset in [combined_TestX]:
    dataset.title.loc[dataset.title == "Miss"] = 'Mrs'
    dataset['title'] = dataset.title.apply(lambda x: 'rare' if rare_titles[x] else x)

C:\Users\Admin\AppData\Local\Temp\ipykernel_12828\3154953666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset.title.loc[dataset.title == "Miss"] = 'Mrs'

In [47]:
combined_TestX['title'].value_counts()

 Mr        151
 Miss       50
 Mrs        41
 Master     10
rare        10
Name: title, dtype: int64

In [69]:
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "rare": 5}

In [64]:
cmbTest = combined_TestX.copy()

In [60]:
for ds in [cmbTest]:
    ds['title'] = ds['title'].map(titles)

In [75]:
cmbTest['title'].value_counts()

 Mr        151
 Miss       50
 Mrs        41
 Master     10
rare        10
Name: title, dtype: int64

In [78]:
ds=cmbTest
# for ds in [cmbTest]:
    #ds['title'] = ds['title'].map(titles)
ds['title'].map(titles)

1028    NaN
1121    NaN
1155    NaN
1251    NaN
721     NaN
       ...
952     NaN
969     NaN
125     NaN
836     NaN
203     NaN
Name: title, Length: 262, dtype: object

In [80]:
s = pd.Series(['cat', 'dog', np.nan, 'rabbit'])
s.map({'cat': 'kitten', 'dog': 'puppy'})
s

0       cat
1       dog
2       NaN
3    rabbit
dtype: object